**/target
**/.DS_Store
**/.classpath
**/.project
**/.settings
**/bin
spring-social-jpa-quickstart/.classpath

spring-social-jpa-quickstart/.classpath

spring-social-jpa-quickstart/.project

spring-social-jpa/.classpath

spring-social-jpa/.project

spring-social-jpa/.project

spring-social-jpa-quickstart/.classpath

spring-social-jpa-quickstart/.classpath

spring-social-jpa-quickstart/.classpath

spring-social-jpa-quickstart/.classpath

spring-social-jpa-quickstart/.project

spring-social-jpa/.classpath

spring-social-jpa/.project

spring-social-jpa/.project
